.card-wrapper {
  border: 1px dotted black;
  width: 90%;
  height: auto;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 40px;
  display: flex;
}

.desc {
  background-color: salmon;
  color: white;
  width: 50%;
  padding: 20px;
}
