.App {
  text-align: center;
  background-image: url('./pics/bg.svg');
  /* height: ; */
  /* width: auto; */
}
.nav-links {
  display: flex;
  justify-content: space-between;
}
.logo {
  /* fill: black; */
  height: 3vh;
  width: 3vw;
  background-image: url('./pics/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 10px;
  margin: 10px;
}
.twitter-logo {
  /* fill: black; */
  height: 3vh;
  width: 3vw;
  background-image: url('./pics/tweeter.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 10px;
}
