.App {
  text-align: center;
  background-image: url('./pics/bg.svg');
  height: 100vh;
  width: 100vw;
}
.nav-links {
  display: flex;
  justify-content: space-between;
}
.logo {
  fill: black;
  height: 40px;
  width: 40px;
  background-image: url('./pics/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 10px;
  margin: 10px;
}
.twitter-logo {
  fill: black;
  height: 30px;
  width: 30px;
  background-image: url('./pics/tweeter.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 10px;
}
